.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg,#0c0c1d,#111132);
    position: relative;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: o;
        right: 0;
    }

    .me { /////////
        height: 700px;
        width: 300px;
        margin-right: 150px;  ////
    }
}